{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <h4>Review — {{ attempt.quiz.title }}</h4>
  <p class="text-muted">Student: {{ attempt.student.username }} -- {{ attempt.student.get_full_name }}</p>

  {% for ans in answers %}
    <div class="card mb-2">
      <div class="card-body">
        <strong>Q:</strong> {{ ans.question.text }} <br>
        <strong>Your answer:</strong>
        {% if ans.question.question_type == "objective" %}
          {% if ans.selected_choice %}
            {{ ans.selected_choice.text }}
              {% else %} 
                  —-
              {% endif %}
        {% else %}
          <div class="border p-2">{{ ans.text_answer|linebreaks }}</div>
        {% endif %}
        <div class="mt-2">
          <strong>Marks awarded:</strong> {{ ans.obtained_marks|default:"-" }} / {{ ans.question.marks }}
        </div>
        {% if ans.feedback %}
          <div class="mt-2"><strong>Teacher feedback:</strong> <div class="p-2 border bg-light">{{ ans.feedback }}</div></div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <a href="{% url 'student_dashboard' %}" class="btn btn-secondary mt-2">Back to dashboard</a>
</div>
{% endblock %}
